
<div class="container">
    <div class="text-center bg-light card text-center">
        <div>
            <img class="rounded mx-auto d-block" src="../assets/logo.png" alt="SBBU SBA Logo">
        </div>
        <hr>
        <h3>Shaheed Benazir Bhutto University Shaheed Benazirabad</h3>
        <h4>Nuashahro Feroze Campus</h4>
        <h6>Knowlage - Commitment - Leadership</h6>
        <hr>
        <h3> Online Feedback System (QEC) </h3>
        <hr>
        <p>This platform is developed for the facilitation of students and administrator, students are give thier feedback regarding their facilitator as well as course. Administrator can easy to analyze what is the feedback of students     </p>
    </div>
    <!-- <div class="jumbotron bg-light">
        <h3 class="text-center">Group Members</h3>
        <table class="tabel" style="margin: auto">

            <tr scope="row">
                <td>Muhammad Adeel Saleem</td>
                <td> &nbsp; | &nbsp; </td>
                <td>15-BS(IT)-09</td>
            </tr>
            <tr scope="row">
                <td>Inayat Ali Solangi</td>
                <td> &nbsp; | &nbsp; </td>
                <td>15-BS(IT)-04</td>
            </tr>
            <tr scope="row">
                <td>Naveed Ali Siyal</td>
                <td> &nbsp; | &nbsp; </td>
                <td>15-BS(IT)-08</td>
            </tr>
        </table>
        <br>
        <h3 class="text-center">Facilitator</h3>
        <table class="tabel" style="margin: auto">
            <tr scope="row">
                <td>Supervisor:</td>
                <td> &nbsp; &nbsp; </td>
                <td>Hakim Ali</td>
            </tr>
            <tr scope="row">
                <td>Co-Supervisor: </td>
                <td> &nbsp; &nbsp; </td>
                <td>Majid Ali</td>
            </tr>
        </table>
    </div>
   -->
    <!-- <footer>
        <p class="">Copyright &copy; 2018 Shaheed Benazir Bhutto University</p>
    </footer> -->
</div>
