<!-- 
<div class="well">
  <h2 style="text-align: center">Student Coures Review</h2>
  <p style="text-align: center">This is the feedback of students about thier courses</p>
</div>


<div *ngFor="let data of currentQuestionsValue">
  <div *ngFor="let d of data.items; let i = index">
    <div class="form-control">
      {{i+1}} {{d.question}}
      <div width="40%" *ngIf="show" >
        <canvas baseChart [data]="pieChartData[i]" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>
</div> -->
<label> Select Form </label>
<select class="form-control" (change)=onSelect($event.target.value)>
  <option selected>Choice...</option>
  <option value="{{form}}" *ngFor="let form of formType">{{ form }}</option>
</select>
<!-- <router-outlet></router-outlet> -->
<app-course-review-analysis *ngIf="show === 'Course Review'"></app-course-review-analysis>
<app-teacher-evaluation-analysis *ngIf="show === 'Teacher Evaluation'"></app-teacher-evaluation-analysis>
